.mobile-menu {
	background: #323a41;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 0;
	text-align: right;
	padding-top: 60px;
	transition: .3s;
	overflow: hidden;
	font-family: Verdana, sans-serif;
}
.mobile-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 30px;
}
.mobile-menu ul li a{
	display: block;
	padding-right: 15px;
	color: #F49B27;
	text-decoration: none;
}
.mobile-menu.open {
	width: 90%;
}
.mobile-menu-btn {
	display: inline-block;
	position: fixed;
	top: 0;
	right: 10px;
	cursor: pointer;
	font-size: 30px;
	color: #F49B27;
	z-index: 99;
}
.mobile-menu-btn:after {
	content: "\f0c9";
	font-family: FontAwesome;
	transition: 1s;
}
.mobile-menu-btn.open:after {
	content: "\f00d";
}
.top-logo-mobile {
	position: absolute;
	top: 10px;
	left: 10px;
	opacity: 0;
	transition: .8s .3s;
}
.open .top-logo-mobile {
	opacity: 1;
}